<div class="mt-4">
    <div class="form-group">
        <label for="base">base</label>
        <input type="number" id="base" [(ngModel)]="baseModel">
    </div>
    <div class="form-group">
        <label for="height">height</label>
        <input type="number" id="height" [(ngModel)]="heightModel">
    </div>
    <br>
    <button type="submit" (click)="calculate()">Calculate Area</button>

    <div *ngIf="areaModel">
        <h3>input</h3>
        <p>"base" : {{baseModel}}</p>
        <p>"height" : {{heightModel}}</p>
        <br>
        <h3>output</h3>
        <p>"area" : {{areaModel}}</p>
    </div>
</div>