<div class="container">
    <p>Programming Examination</p>
    <ol>
        <li>
            <a [routerLink]="['/', AppURL.hero]">
                list ข้อมูล HERO และเลือก HERO
            </a>
        </li>
        <li>
            <a [routerLink]="['/', AppURL.post]">
                แสดงข้อมูลที่ได้จากการเรียก API
            </a>
        </li>
        <li>
            <a [routerLink]="['/', AppURL.calculate]">
                เขียน restful api เพื่อทำการคำนวณพื้นที่ของรูปสามเหลี่ยม
            </a>
        </li>
        <li>
            <a [routerLink]="['/', AppURL.checkCitizen]">
                เขียนโปรแกรม เพื่อทำการตรวจสอบความถูกต้องของเลขบัตรประจำตัวประชาชน
            </a>
        </li>
        <li>
            <a [routerLink]="['/', AppURL.diamond]">
                จงเขียนโปรแกรม เพื่อแสดงตามรูปด้านล่าง
            </a>
        </li>
    </ol>
</div>