/* You can add global styles to this file, and also import other style files */
.container {
    padding: 24px;
}

.form-group {
    display: table-caption;
    margin-bottom: 8px;
}

.mt-4 {
    margin-top: 18px;
}

.w-30 {
    width: 30%;
}

.text-center {
    text-align: center;
}